<div class="container">
  <!-- Menú de Navegación -->
  <nav class="menu">
    <label for="menu-toggle" class="navbar-brand">
      <img src="logo.png" width="30" height="30">
    </label>
    
    <div class="menu-items">
      <a routerLink="/home"> <span>Inicio</span></a>
      <a routerLink="/clientes"> <span>Clientes</span></a>
      <a routerLink="/inventario"> <span>Inventario</span></a>
      <a routerLink="/pedidos"> <span>Pedidos</span></a>
    </div>
  </nav>
  
  <div class="content">
    <!-- Tu contenido aquí -->
  </div>
</div>