<div class="container">
  <nav class="menu">
    <label for="menu-toggle" class="navbar-brand">
      <img src="logo.png" width="30" height="30">
    </label>
    <div class="menu-items">
      <a routerLink="/home"> <span>Inicio</span></a>
      <a routerLink="/clientes"> <span>Clientes</span></a>
      <a routerLink="/proveedores"> <span>Proveedores</span></a>
      <a routerLink="/inventario"> <span>Inventario</span></a>
      <a routerLink="/pedidos"> <span>Pedidos</span></a>
      <a routerLink="/about"> <span>Acerca de</span></a>
      <button (click)="salir()" class="logout-btn">
        <span>Salir</span>
      </button>
    </div>
    
  </nav>
</div>