<div class="container">
  <nav class="menu">
    <label for="menu-toggle" class="navbar-brand">
      <img src="logo.png" width="30" height="30">
    </label>
    <div class="menu-items">
      <a routerLink="/home"> <span>🏠</span> Inicio</a>
      <a routerLink="/clientes"> <span>👥</span> Clientes</a>
      <a routerLink="/proveedores"> <span>🤝</span> Proveedores</a>
      <a routerLink="/inventario"> <span>📦</span> Inventario</a>
      <a routerLink="/pedidos"> <span>🛒</span> Pedidos</a>
      <a routerLink="/graficas"><span>📊</span> Estadísticas</a>
      <a routerLink="/about"> <span>ℹ️</span> Acerca de</a>
      <button (click)="salir()" class="logout-btn"><span></span> Salir</button>
    </div>
  </nav>
</div>
